.background {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    position:absolute;
    top:0px;
    left:0px;
    justify-content:center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
}

.full_div {
    margin:15;
    padding-left:23px;
    padding-right:23px;
    padding-top:20px;
    padding-bottom:20px;
    display:inline-block;
    border-radius:15px;
    box-shadow: 10px 10px 10px rgba(170,170,170,.3);
    position:relative;
    backdrop-filter: blur(5px);
    height:650px;
} 

.left_column {
    padding:5px;
    width:235px;
    margin:10px;
    float:left;
}

.box_art {
    height: 185px;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #cfcfcf;
    border-radius: 15px;
}

.description {
    padding:10px;
    margin-top:10px;
    width:auto;
    font-size:12px;
    height:360px;
    background-color:rgba(150,150,150,.3);
    border-radius:18px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
}

.right_column {
    display:relative;
    float:left;
    margin-left:10px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:25px;
    margin-top:10px;
    width:150px;
    font-size:13px;
    height:460px;
    background-color:rgba(150,150,150,.3);
    border-radius:14px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
}

.info_summary {
    padding-top: 10px;
    display:inline-block;
}

.bottom_row {
    clear:both;
    padding:10px;
    width:450px;
    font-size: 12px;
}

.bottom_row_entry_left {
    width:auto;
    float:left;
}

.bottom_row_entry_right {
    position:absolute;
    bottom:135px;
    right:27px;
    font-size: 12;
    width:auto;
    float:left;
}

.info_icon {
    padding:2px;
    height:15px;
}

.weight_info {
    position:absolute;
    bottom:80px;
    right:20px;
    background-color:rgba(150,150,150,.3);
    width: 80px;
    height:35px;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    text-align:center;
    padding:5px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.rating_info {
    position:absolute;
    bottom:80px;
    right:140px;
    background-color:rgba(150,150,150,.3);
    width: 80px;
    height:35px;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    text-align:center;
    padding:5px;
    display: flex;
    align-items:center;
    justify-content:center;
}