@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=David+Libre');

.background {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position:absolute;
    top:0px;
    left:0px;
    justify-content:center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
    border-radius:5px;;
}

.full_div {
    margin:10px;
    padding:10px;
    display:inline-block;
    border-radius:5px;;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    position:relative;
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    width:93%;
} 

.left_column {
    float:left;
   
    display: flex;
    align-items:center;

    margin-right:5px;
    margin-bottom:5px;

    width:18%;
    height:24%;
    align-content: center;
    text-align:center;
    vertical-align: center;
}

.box_art {
    max-height: 100%;
    max-width: 100%;
    border-radius:10px;;
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    margin-left:5px;
    margin-bottom:5px;
    float:left;
    width:50.5%;
    font-size:1.1vh;
    line-height:1.3vh;
    height:24%;
    background-color:rgba(255, 255, 255, 0.55);
    border-radius:5px;;
    font-family: 'David Libre', serif;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    text-align:left;
}

.right_column {
    float:right;
    display: flex;

    background-color:rgba(255, 255, 255, 0.55);
    border-radius:5px;;
    
    width:25%;
    height:18%;

    font-size:1.2vh;
    line-height:1.4vh;
    font-family: 'David Libre', serif;
    
    justify-content: center;
    align-items: center;
    text-align:center;

    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    
}

.info_summary {
    display:inline-block;
}

.bottom_row {
    clear:both;
    width:100%;
    font-size:1.2vh;
    font-family: 'David Libre', serif;
}

.bottom_row_entry_left {
    width:68.5%;
    float:left;
    padding:5px;
    padding-right:15px;
    padding-left:15px;
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0.55);
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
}

.bottom_row_entry_right {
    width:23.5%;
    text-align: center;
    float:right;
    border-radius:5px;;
    padding:5px;
    background-color:rgba(255, 255, 255, 0.55);
    
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
}

hr {
    color:rgba(255, 255, 255, 0.6);
}

h2 {
    margin-bottom:1px;
}

.info_icon {
    padding-right:4px;
    height:9px;
}

.weight_info {
    float:right;

    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    width: 25%;
    height:2.3%;

    margin-top:5px;

    border-radius:5px;;
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    
    background-color:rgba(255, 255, 255, 0.55);

    font-size:1.2vh;
    font-family: 'David Libre', serif;
    
}

.rating_info {
    float:right;

    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    width: 25%;
    height:2.3%;

    margin-top:7px;

    border-radius:5px;;
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.32);
    
    background-color:rgba(255, 255, 255, 0.55);

    font-size:1.2vh;
    font-family: 'David Libre', serif;
}

ul {
    display:inline-block;
    list-style:none;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    font-size:8px;
    padding:2%;
    margin:2%;
    width:92%;
}
