.background {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    position:absolute;
    top:0px;
    left:0px;
    justify-content:center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
}

.full_div {
    margin:.5%;
    padding:2%;
    display:inline-block;
    border-radius:15px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    position:relative;
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgba(170,170,170,.3);
    border-width: 1px;
    width:95%;
} 

.left_column {
    float:left;
    padding:1%;
    width:22.3%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.box_art {
    max-height: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #cfcfcf;
    border-radius: 15px;
}

.description {
    padding-left: 2%;
    padding-right:2%;
    padding-bottom:2%;
    float:left;
    width:44.2%;
    font-size:72%;
    height:25%
}

.right_column {
    background-color:rgba(150,150,150,.3);
    border-radius:15px;
    float:left;
    padding:1%;
    width:24.2%;
    margin-top:.2%;
    font-size:78%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    height:19%;
}

.info_summary {
    display:inline-block;
}

.bottom_row {
    clear:both;
    margin:.5%;
    width:100%;
    font-size:78%;
}

.bottom_row_entry_left {
    width:auto;
    float:left;
}

.bottom_row_entry_right {
    width:auto;
    text-align: right;
    float:right;
}

.info_icon {
    padding-top:.5%;
    height:1%;
}

.weight_info {
    background-color:rgba(150,150,150,.3);
    width: 10%;
    height:9%;
    position:absolute;
    top:73%;
    right:3.2%;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    text-align:center;
    padding:.5%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.rating_info {
    background-color:rgba(150,150,150,.3);
    width: 10%;
    height:9%;
    position:absolute;
    top:73%;
    right:17.4%;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    text-align:center;
    padding:.5%;
    display: flex;
    align-items:center;
    justify-content:center;
}

h3 {
    padding-left: 10px;
    padding-top:20px;
    writing-mode: vertical-lr;
    float:left;
}

ul {
    list-style:none;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    width:960px;
    font-size:10px;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(170,170,170,.3);
    background-color:rgba(150,150,150,.3);
    padding:10px;
}
